{% extends 'navbar.html' %}
{% load static %}

{% block title %} How to use it? {% endblock %}

{% block content %}
    <div class="main-content">
        <div class="fs-6" style="margin-right: 28px;margin-top: 14px;margin-bottom: 22px;color: var(--bs-secondary);padding-left: 0px;margin-left: 28px;">
            <h1 style="background: var(--secondary);font-size: 30px;padding-bottom: 5px;color: var(--bs-black);">About Me</h1>
        </div>
        <p>Rec-Ex is a tool to help and encourage students to recycle on campus. It's main features are:</p>
        <ul>
            <li>To navigate students to the nearest recycling points around campus</li>
            <li>To reward students for recycling by awarding them points and ranking them on a leaderboard</li>
            <li>To allow students to create and track goals for themselves that they aspire to achieve</li>
            <li>To let students view each other's profiles and see how their recycling compares with others</li>
        </ul>
        <h3>How to use:</h3>
        <h4 style="padding-top: 18px;margin-bottom: -14px;">Logging in</h4>
        <div class="container" style="margin-top: 20px;">
            <div class="row">
                <div class="col-md-6 col-lg-6"><img class="img-fluid" src="{% static 'figures/instructions/loginpage.png' %}" style="padding-bottom: 0px;"></div>
                <div class="col-md-6">
                    <p>When you first reach the site, you will be greeted by the login page. If you already have an account, you can login. Otherwise, you can click the "Sign Up!" button to register an account.&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="container" style="padding-bottom: 20px;margin-top: 0px;padding-top: 18px;">
            <h4 style="padding-top: 31px;">Registration</h4>
            <div class="row">
                <div class="col-md-6"><img class="img-fluid" src="{% static 'figures/instructions/registration.png' %}" style="width: 100%;padding-top: 0px;"></div>
                <div class="col-md-6">
                    <p>To register an account, enter a username, your email address, and a password, and click "Create New Account". You will then be redirected to the login page to login with your new account.<br><br></p>
                </div>
            </div>
            <h4 style="padding-top: 12px;margin-bottom: -17px;margin-top: 45px;">About Me</h4>
        </div>
        <div class="container" style="padding-bottom: 0px;margin-bottom: 20px;">
            <div class="row" style="margin-top: 0px;">
                <div class="col-md-6"><img src="{% static 'figures/instructions/aboutme.png' %}" style="width: 100%;"></div>
                <div class="col-md-6">
                    <p><br>Upon logging on, you will be redirected to this page, the "About Me" page. This page contains brief overview of the site, and a guide on how to use it. You can click the "Back Home" button on the navbar at the top and bottom of the screen to go to the home page.<br><br></p>
                </div>
            </div>
        </div>
        <h4 style="padding-top: 16px;margin-bottom: -23px;margin-top: -18px;">Home Page</h4>
        <div class="container" style="margin-top: 14px;">
            <div class="row" style="padding-top: 19px;">
                <div class="col-md-6"><img class="img-fluid" src="{% static 'figures/instructions/homepage.png' %}" style="width: 100%;"></div>
                <div class="col-md-6">
                    <p>&nbsp;The home page contains a daily feed, where you can view information about an item that's been recently recycled. This includes the time that the item was recycled at, who it was recycled by, and what bin it was recycled in. You may like each transaction once, and view how many likes each transaction has. The page also has a "Scan Item" button which you can press to scan the barcode of a product that you'd like to recycle.</p>
                </div>
            </div>
        </div>
        <h4 style="padding-top: 45px;margin-bottom: -26px;">Scanning an Item</h4>
        <div class="container">
            <div class="row" style="padding-top: 19px;margin-top: 12px;">
                <div class="col-md-6"><img class="img-fluid" src="{% static 'figures/instructions/scannerpage.png' %}"></div>
                <div class="col-md-6">
                    <p>Upon pressing the "Scan Item" button, you will be redirected to the scanner page. Here, the site will request permission to use your camera. Once you grant this permission, you will be able to scan the barcode of a product that you'd like to recycle.</p>
                </div>
            </div>
        </div>
        <h4 style="padding-top: 38px;margin-bottom: -23px;margin-top: 12px;">New Product</h4>
        <div class="container" style="margin-top: 17px;padding-bottom: 18px;">
            <div class="row" style="padding-top: 19px;">
                <div class="col-md-6"><img class="img-fluid" src="{% static 'figures/instructions/product_entry.png' %}"></div>
                <div class="col-md-6">
                    <p>If the product does not exist in our database yet, you will be taken to the "New Product" page where you can register your item. Here, you may enter the product's name, material, weight, and whether it has a recycle logo on the packaging or not. You can then click the "Submit" button to register the product. You will then be redirected to the product's information page.</p>
                </div>
            </div>
            <h4 style="padding-top: 47px;margin-bottom: -25px;">Product Information</h4>
        </div>
        <div class="container" style="margin-bottom: 25px;">
            <div class="row" style="padding-top: 19px;">
                <div class="col-md-6"><img class="img-fluid" src="{% static 'figures/instructions/product_info.png' %}"></div>
                <div class="col-md-6">
                    <p>The product's information page contains details about the product that you've scanned, including the name, weight, whether its recyclable or not, and what material it is made of. You can also see the history of the product, which tells you about how this product has previously been recycled. If you'd like to recycle the product, click the "Would you like to recycle?" button.</p>
                </div>
            </div>
        </div>
        <h4 style="margin-bottom: -10px;padding-top: 21px;">Recycling an item</h4>
        <div class="container" style="margin-top: 0px;padding-bottom: 20px;">
            <div class="row" style="margin-top: 18px;">
                <div class="col-md-6"><img class="img-fluid" src="{% static 'figures/instructions/map_one_bin.png' %}"></div>
                <div class="col-md-6">
                    <p>After pressing the "Would you like to recycle?" button, you will be redirected to the map page with the appropriate bin selected. To begin navigation to this bin, click the "Would you like to start your adventure?" button. This will take you to the navigation page.</p>
                </div>
            </div>
            <h4 style="padding-top: 45px;margin-bottom: -23px;">Bin Navigation</h4>
        </div>
        <div class="container" style="padding-bottom: 25px;">
            <div class="row" style="padding-top: 17px;">
                <div class="col-md-6"><img class="img-fluid" src="{% static 'figures/instructions/bin_nav_page.png' %}"></div>
                <div class="col-md-6">
                    <p>The navigation page will direct you to a bin to recycle your product at. It will tell you which bin you're being navigated to, the distance that you currently are from the bin, and the compass arrow will point you in the direction of the bin. This will help you reach the bin in order to recycle your item. Once you reach the bin, the recycling will be confirmed, and you will be redirected back to the index page with the points gained from recycling awarded to your account.</p>
                </div>
            </div>
            <h4 style="padding-top: 31px;margin-bottom: -22px;padding-bottom: 0px;margin-top: 12px;">Navbar</h4>
        </div>
        <div class="container" style="margin-bottom: 22px;">
            <div class="row" style="margin-top: 17px;">
                <div class="col-md-6"><img class="img-fluid" src="{% static 'figures/instructions/navbar.png' %}"></div>
                <div class="col-md-6">
                    <p>Now that we have explored the main function of the site, let's have a look at the other services that the site offers. Using the navbar at the top of the page, you can access the leaderboard, instruction, map, profile, shop, and ProductDex pages by pressing the respective buttons. First let's look at the leaderboard page.&nbsp;</p>
                </div>
            </div>
        </div>
        <h4 style="margin-bottom: -1px;padding-top: 13px;margin-top: -13px;">Leaderboard</h4>
        <div class="container" style="padding-bottom: 21px;">
            <div class="row" style="padding-top: 18px;">
                <div class="col-md-6"><img class="img-fluid" src="{% static 'figures/instructions/leaderboard.png' %}"></div>
                <div class="col-md-6">
                    <p>The leaderboard page contains a table with a ranking of all the users registered to the site. You can also see how many points each user has. If you'd like to search for a user's ranking, enter their username in the search box below the leaderboard and the table will be filtered to only show users with the text that you've entered in their name.</p>
                </div>
            </div>
            <h4 style="margin-bottom: -24px;padding-top: 30px;margin-top: 8px;">Map Page</h4>
        </div>
        <div class="container" style="margin-bottom: 29px;">
            <div class="row" style="margin-top: 17px;">
                <div class="col-md-6"><img class="img-fluid" src="{% static 'figures/instructions/map_all.png' %}"></div>
                <div class="col-md-6">
                    <p>Next, let's look at the map page. The map page displays where all the bins are located on campus. You can click on a bin to find out which sort of items you can recycle there (refer to the key at the bottom of the page). You can also filter which bins are displayed, based on the type of recycling they accept, using the drop down menu underneath the map.</p>
                </div>
            </div>
        </div>
        <h4 style="margin-top: 6px;padding-top: 20px;">Account Menu</h4>
        <div class="container" style="padding-bottom: 19px;">
            <div class="row" style="margin-top: 18px;">
                <div class="col-md-6"><img class="img-fluid" src="{% static 'figures/instructions/account-bar.png' %}"></div>
                <div class="col-md-6">
                    <p>Clicking the dropdown menu labelled "Account" on the navbar will allow you to access the Profile, Shop, and ProductDex pages. You can also press "Logout" to log out of your account.</p>
                </div>
            </div>
            <h4 style="padding-top: 31px;padding-bottom: 0px;margin-bottom: -31px;margin-top: 12px;">Account Page</h4>
        </div>
        <div class="container" style="margin-bottom: 32px;">
            <div class="row" style="margin-top: 19px;">
                <div class="col-md-6"><img class="img-fluid" src="{% static 'figures/instructions/profile_page_one.png' %}"></div>
                <div class="col-md-6">
                    <p>The Account page is where you can view all of your recycling facts and statistics. At the top of the page you can see how many points you have, your carbon footprint, and how you have recycled in the past week, month, and year. Below this, you can view the last item you that you recycled and which item you love to recycle the most. You can also access your account settings from this page, press "Manage Password" to access the Password Center. You can also add and view goals, and see how the amount you've recycled compares with others.</p>
                </div>
            </div>
        </div>
        <h4 style="padding-top: 0px;">Account Page: Goals!</h4>
        <div class="container" style="padding-bottom: 20px;">
            <div class="row" style="margin-top: 17px;">
                <div class="col-md-6"><img class="img-fluid" src="{% static 'figures/instructions/profile_goals.png' %}"></div>
                <div class="col-md-6">
                    <p>You can use the Account page to set and view goals for yourself! To set a goal, use the "Add a goal!" widget. Enter the goal number that you'd like to modify, and select the number of items you'd like to recycle and what sort of products you'd like to recycle using the drop down menus. Once you've made your selections, click "Submit" and the goal will be added to your account page. You can then select "Tab 1", "Tab 2", or "Tab 3" to view the goals that you've set.</p>
                </div>
            </div>
            <h4 style="margin-bottom: 0px;padding-top: 32px;padding-bottom: 0px;">Shop Page</h4>
        </div>
        <div class="container" style="padding-bottom: 21px;">
            <div class="row" style="padding-top: 19px;margin-top: -29px;">
                <div class="col-md-6"><img class="img-fluid" src="{% static 'figures/instructions/shop.png' %}"></div>
                <div class="col-md-6">
                    <p>Next, let's look at the Shop page. Here, you can use the points you've gained from recycling to purchase items, such as vouchers that can be redeemed on campus. To purchase an item, click the "Buy me" button that will be displayed if the item is in stock. If you have enough points to buy the item, then the cost will be deducted from your account and you will receive an email containing a QR code to redeem your item.</p>
                </div>
            </div>
        </div>
        <h4 style="margin-bottom: -8px;margin-top: 24px;">ProductDex</h4>
        <div class="container">
            <div class="row" style="margin-top: 19px;">
                <div class="col-md-6"><img class="img-fluid" src="{% static 'figures/instructions/productdex.png' %}"></div>
                <div class="col-md-6">
                    <p>Finally, let's look at the ProductDex page. Here, you can see all of the products that you've personally recycled so far, and view information about them. For each item you've collected, You can see it's name, the number of times that you've recycled the item, and an image (if one exists). To view more information about the product, click the "More Info" button and you will be redirected to the product's information page.</p>
                </div>
            </div>
        </div><a class="btn btn-light me-2" role="button" href="{% url 'index' %}" style="background-color: var(--primary);color: var(--bs-btn-disabled-color);margin-top: 27px;">Back Home</a>
    </div>
    <div style="flex: 1;"></div>
{% endblock %}


