{% extends 'navbar.html' %}
{% load static %}

{% block title %} Home - Welcome! {% endblock %}

{% block header %}
     <style>
    /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    /*Text color*/
    .modal p{
        color: black;
    }
    /* Modal Content */
    .modal-content {
    background-color: var(--bs-secondary);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    }
</style>
{% endblock %}

{% block content %}
    </div>
    <div class="feeds" style="margin: 0 auto;color: var(--secondary); width: 80vw;">
        <div class="content-container" style="align-items: center; justify-content: center;">
            <h5 style="color: black; margin-left: 1vw; margin-right: 1vw;">Double points <strong>9am - 3pm</strong> Every Day!</h5>
        </div>
        <div style="height: 70%; overflow:auto;">
            <div class="top-bar">
                <h3 style="width: 200px">Time</h3>
                <h3 style="width: 200px">Recycled</h3>
                <h3 style="width: 200px">Likes</h3>
            </div>
            <div style="color: black;">
                {% for item in Transaction %}
                <div class="content-container">
                    <div class="content-bar-cells">{{item.time}}</div>
                    <div class="content-bar-cells">{{item.user}} just recycled {{item.product.name}} at Bin {{item.bin.binName}}</div>
                    <form class="content-bar-cells" method="POST" style="">
                        {% csrf_token %}
                        <input type="hidden" name="trans_id" value="{{ item.transaction_id }}">
                        <div style="">{{ item.likes }}
                            {% if item.transaction_id in likedList %}
                                Liked :)
                            {% else %}
                                <button role="submit">Like</button>
                            {% endif %}
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
        <a class="btn btn-secondary d-block w-100" style="color: white; background-color: var(--primary); border-radius: 100px;" href="{% url 'barcode_lookup' %}" role="button">Scan Item</a>
        <!-- If successful scan -->
        {% if points %}
            <!-- display info on successful scan -->
            <div id="infoModel" class="modal">
                <div class="modal-content" style="color:green; border-color: var(--primary); border-style: solid; border-width: 1vh; opacity: 100%">
                    {% if peakTime %}
                        <p>DOUBLE POINTS !</p>
                        <p>Thank you for recycling you gained {{ points }} points !</p>
                    {% else %}
                        <p>Thank you for recycling you gained {{ points }} points !</p>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if refuse %}
            <div id="infoModel" class="modal">
                <div class="modal-content" style="color:green; border-color: red; border-style: solid; border-width: 1vh; opacity: 100%;">
                        <p>{{ refuse }}</p>
                </div>
            </div>

        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script>
        /**
         * Displays a pop-up with information
         * */
        var modal = document.getElementById("infoModel");
        if (modal != null) {
            modal.style.display = "block";
            modal.style.alignSelf = "center";
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }

    </script>
{% endblock %}