:root {
    --body-bg: #FBFAF8;
    --secondary: #FBFAF8;
    --secondary-rgb: 251, 250, 248;
    --primary: #698F3F;
    --primary-rgb: 10, 18, 42;
    --dark: #0A122A;
    --dark-rgb: 66, 109, 52;
}

/* Site wide styles */
body {
    min-height: 100vh;
    padding-top: 2vh;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    font-family: helvetica;
}
body * {
    font-family: helvetica;
}
.navbar-styles {
    background-color: #FBFAF8;
    opacity: 90%;
}
.navbar-styles button {
    background-color: #698F3F;
}
.nav-show,
.nav-show * {
    z-index: 3;
    opacity: 100%;
}
.main-content {
    opacity: 90%;
    background-color: var(--secondary);
    margin: 0 auto;
    margin-top: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: inline-block;
}
.footer-styles {
    align-self: end;
    width: 100%;
    background: var(--secondary);
    margin-top: 2vh;
}
a {
    color: var(--primary);
}
a:active {
    color: var(--primary);
}
a:visited {
    color: var(--primary);
}

/* profile styles */
.profile-stat {
    background-color: var(--secondary);
    border-radius: 0.5vw;
    opcaity: 90%;
}

/* new item styles */
label {
    color: black;
}
#new {
    margin-bottom: 2vh;
}
#submit {
    border-color: #719a5e;
    color: black;
}
.new-form {
    background-color: var(--secondary);
}

/* display on the daily feed and leaderboard */
.feeds * {
    opacity: 95%;
}
.top-bar {
    background: var(--primary);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 100px;
}
.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: var(--secondary);
    min-height: 5vh;
    border-radius: 30px;
    border: black 10px;
    justify-content: center;
    margin: 2vh;
    padding: 0.5vh;
    opacity: 100%;
}
.content-bar-cells {
    width: 26.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}