
html {
  /* background: url('../images/Theme.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

#newItem {
  display: flex;
  flex-direction: column;
}