{% extends 'navbar.html' %}
{% load static %}

{% block title %}
    Change Your Password
{% endblock %}

{% block content %}

        <main class="form-signin w-100 m-auto" style="padding-left: 2vh; padding-right: 2vh;">
            <form method="POST">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Change Your Password</h1>
                {% for field in form %}
                    <div class="form-floating">
                        <input type="{{ field.widget_type }}" name="{{ field.name }}" class="form-control"
                               id={{ field.id_for_label }} placeholder={{ field.name }} required>
                        <label for={{ field.id_for_label }}>{{ field.label }}</label>
                    </div>
                {% endfor %}
                <input type="hidden" name="next" value={{ next }}>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Change</button>
            </form>
            {% if form.errors %}
                <p>
                    There are some problem with the password. Please try again!
                </p>
            {% else %}
                <br><br>
            {% endif %}
        </main>
{% endblock %}