{% extends 'navbar.html' %}

{% block title %} Reset Password {% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
        <meta http-equiv="refresh" content="0; URL={% url 'account' %}" />
    {% endif %}
    <div class="container text-muted py-4 py-lg-5">
        <section class="py-4 py-xl-5" style="margin-top: -16px;margin-bottom: -55px;">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <h2 style="color: var(--bs-black);padding-bottom: 0px;margin-bottom: -30px;">Forgotten your password?</h2>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 col-xl-4">
                        <div class="card-body d-flex flex-column align-items-center">
                            <div>
                                <p> Please enter your email address when you registered. We will send you an link for reset password :)</p>
                            </div>
                            <form class="text-center" method="POST">
                                {% csrf_token %}
                                <div class="mb-3" style="margin-top: 13px;"><input class="form-control" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" type="email" placeholder="E-mail" maxlength="50" minlength="3" required="1"></div>
                                {{ form.email.errors }}
                                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Send E-mail</button></div>
                                <div class="mb-3"><a href="{% url 'login' %}" style="margin-top: 0px;padding-top: 0px;">Back to login</a></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}