{% extends 'navbar.html' %}
{% load static %}

{% block title %} Registration - Welcome! {% endblock %}

{% block content %}
    <div class="container text-muted py-4 py-lg-5">
        <section class="py-4 py-xl-5" style="margin-top: -16px;margin-bottom: -55px;">
            <div class="container">
                <div class="row mb-5">
                    <h2 style="color: var(--bs-black);padding-bottom: 0px;margin-bottom: -30px;">Registration</h2>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 col-xl-4">
                        <div class="card-body d-flex flex-column align-items-center">
                            <form class="text-center" method="post" style="min-width: 30vh;">
                                {% csrf_token %}
                                {{ form.non_field_errors }}
                                {% for field in user_form %}
                                    {{ field.errors }}
                                    <div class="mb-3" style="margin-top: 13px;"> {{ field }} </div>
                                {% endfor %}
                                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Create New Account</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}