<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Your Carbon Footprint Report</title>
</head>
<body>
<p>Dear {{ User }},</p>
<p>We hope this email finds you well. We wanted to share with you some information about your carbon footprint, which we
    have calculated based on your recent activities.</p>
<h2>Carbon Foot Print:</h2>
<p>{{ Carbon }}</p>
<h2>Current week data:</h2>
<p>{{ WeekData }}</p>
<h2>Current month data:</h2>
<p>{{ MonthData }}</p>
<h2>Current year data:</h2>
<p>{{ YearData }}</p>
<p>We are pleased to see that you are making a difference in reducing your carbon footprint. However, there is still
    more that we can all do to protect our planet.</p>
<p>Thank you for your commitment to sustainability, and we look forward to hearing from you.</p>
<p>Best regards,</p>
<p>Rec-Ex (Bytebrigade)</p>
</body>
</html>