{% extends 'navbar.html' %}
{% load static %}

{% block title %} {% endblock %}



{% block content %}
{% block style %}
    <style>
        .main-content {
            width: 100%;
        }
    </style>
{% endblock %}

    <!-- title pane -->
    <body>
    <div class="row" style="width: 100%; margin: 0;">
        <div class="col-md-12" style="padding: 0; margin: 0;">
            <div class="card-body" style="text-align: center;">
                <h4 class="card-title">Shop</h4>
                <p class="card-text">Welcome to the Shop page, where you can spend all of your points!</p>
            </div>
            <form action="" method="post" id="shop_item_form">
                {% csrf_token %}
                <input type="hidden" name="shop_item" id="shop_item" value=0>
            </form>
        </div>
    </div>
    </body>
    <!-- contains all the items -->
    <div class="row" id="container" style="width: 100%; margin: 0;">

    </div>



{% endblock %}

{% block script %}

    <script>


        /**
         * Within this script the html page is updated with shop items.
         *
         * */

            //Array of items that are show (for purpose of template only)
        const itemArray = [
                {% for item in shop_items %}
                    {
                        name: '{{ item.name }}', //Retrieving the product from the dictionary passed in from the backend
                        cost: '{{ item.cost }}',
                        description: '{{ item.description }}',    //Retrieving the number of this item that have been recycled by the user
                        stock: '{{ item.stock }}',
                        img: '{% static 'figures/Sprite-0002.png' %}',
                        item_id: '{{ item.item_id }}',
                    },
                {% endfor %}
            ];
        // div that the items are put inside of
        const container = document.getElementById('container');

        // Iterates through the array and adds each item from the array
        let i = 0;
        while (i < itemArray.length) {
            // Creates all the html objects required for each item in the array
            const cardDiv = document.createElement('div');
            //cardDiv.classList.add('card');
            cardDiv.classList.add('col-md-4');

            const cardBodyDiv = document.createElement('div');
            cardBodyDiv.classList.add('card-body');
            cardBodyDiv.style.textAlign = 'center';

            // image
            const image = document.createElement('img');
            image.src = itemArray[i].img;
            cardBodyDiv.appendChild(image);

            // name
            const titleH4 = document.createElement('h4');
            titleH4.classList.add('card-title');
            titleH4.innerText = itemArray[i].name;

            // description
            const subtitleH6 = document.createElement('h6');
            subtitleH6.classList.add('text-muted', 'card-subtitle', 'mb-2');
            subtitleH6.innerText = itemArray[i].description;

            // cost
            const subtitleH8 = document.createElement('h6');
            subtitleH8.classList.add('text-muted', 'card-subtitle', 'mb-2');
            subtitleH8.innerText = "Price: "+itemArray[i].cost;

            // button
            if (itemArray[i].stock !== '0') {
                const button = document.createElement('button');
                button.className = 'btn btn-primary';
                button.type = 'submit';
                var item_id = itemArray[i].item_id
                button.onclick = function () {
                    submit(item_id)
                };
                button.textContent = 'Buy me';
                cardBodyDiv.appendChild(image);
                cardBodyDiv.appendChild(titleH4);
                cardBodyDiv.appendChild(subtitleH6);
                cardBodyDiv.appendChild(subtitleH8);
                cardBodyDiv.appendChild(button);
                cardDiv.appendChild(cardBodyDiv);
                container.appendChild(cardDiv);
            } else {
                const subtitleH7 = document.createElement('h7');
                subtitleH7.classList.add('text-muted', 'card-subtitle', 'mb-2');
                subtitleH7.innerText = 'Out of Stock';
                cardBodyDiv.appendChild(image);
                cardBodyDiv.appendChild(titleH4);
                cardBodyDiv.appendChild(subtitleH6);
                cardBodyDiv.appendChild(subtitleH8);
                cardBodyDiv.appendChild(subtitleH7);
                cardDiv.appendChild(cardBodyDiv);
                container.appendChild(cardDiv);
            }
            // appends to the html

            i++;
        }


        /**
         * This function submits a hidden form with the id of a shop item
         *
         * @param id: the id of the shop item
         *
         * @return none
         *
         * */
        function submit(id) {
            document.getElementById("shop_item").value = id;
            document.getElementById("shop_item_form").submit();
        }
    </script>
{% endblock %}