{% extends 'navbar.html' %}

{% block title %} {% endblock %}

{% block content %}
    <body>
    <!-- title pane -->
    <div class="row" style="width: 100%; margin: 0;">
        <div class="col-md-12" style="padding: 0; margin: 0;">
            <div class="card-body" style="text-align: center;">
                <h4 class="card-title">ProductDex</h4>
                <p class="card-text">Welcome to the productDex page</p>
            </div>
            <form action="" method="post" id="pokeBarcode">
                {% csrf_token %}
                <input type="hidden" name="barcode" id="barcode" value=0>
            </form>
        </div>
    </div>

    <!-- contains all the items -->
    <div class="row" id="pokedex" style="width: 100vw; margin: 0; margin-top: 2vh;">
    </div>
    </body>
{% endblock %}

{% block script %}
    <script>

        /**
         * Creates product cards with the name of the product and the count of times recycled
         * that is displayed within this html page.
         * */
        const pokemonArray = [
            {% for key, value in product.items %}
                {
                    name: '{{ key.name }}', //Retrieving the product from the dictionary passed in from the backend
                    barcode: '{{ key.barcode}}',
                    type: '{{ value }}',    //Retrieving the number of this item that have been recycled by the user
                    description: 'A beautiful item of pollution',
                    img: '{{ key.image }}',
                },
            {% endfor %}
        ];

        // div that the items are put inside of
        const pokedexDiv = document.getElementById('pokedex');

        // Iterates through the array and adds each item from the array
        let i = 0;
        while (i < pokemonArray.length) {
            // Creates all the html objects required for each item in the array
            const cardDiv = document.createElement('div');
            //cardDiv.classList.add('card');
            cardDiv.classList.add('col-md-4');

            const cardBodyDiv = document.createElement('div');
            cardBodyDiv.classList.add('card-body');
            cardBodyDiv.style.textAlign = 'center';

            // image
            const image = document.createElement('img');
            image.src = pokemonArray[i].img;
            image.style.width = "25%";
            cardBodyDiv.appendChild(image);

            // title
            const titleH4 = document.createElement('h4');
            titleH4.classList.add('card-title');
            console.log(pokemonArray[i].name);
            titleH4.innerText = decodeHtml(pokemonArray[i].name);

            // sub-title
            const subtitleH6 = document.createElement('h6');
            subtitleH6.classList.add('text-muted', 'card-subtitle', 'mb-2');
            subtitleH6.textContent = 'Recycled: ' + pokemonArray[i].type;

            // button
            const button = document.createElement('button');
            button.className = 'btn btn-primary';
            button.type = 'submit';
            const barcode = pokemonArray[i].barcode;
            console.log(barcode)
            button.onclick = function () {
                submit(barcode)
            };
            button.textContent = 'More Info';

            // appends to the html
            cardBodyDiv.appendChild(image);
            cardBodyDiv.appendChild(titleH4);
            cardBodyDiv.appendChild(subtitleH6);
            cardBodyDiv.appendChild(button);
            cardDiv.appendChild(cardBodyDiv);
            pokedexDiv.appendChild(cardDiv);
            i++;
        }

        // submits the form with the attatched variable from the button pressed on an array item
        function submit(id) {
            document.getElementById("barcode").value = id;
            document.getElementById("pokeBarcode").submit();
        }

        /**
         * This function removes any unwanted special characters from the title of the products we are trying to
         * display.
         *
         * @param html
         *
         * @return txt.value
         *
         */
        function decodeHtml(html) {
            var txt = document.createElement("textarea");
            txt.innerHTML = html;
            return txt.value;
        }

    </script>
{% endblock %}